*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}


html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
body {
    line-height: 1.5;
    min-height: 100dvh;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
optgroup,
select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 6em;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object,
picture,
figure {
    display: block;
    max-width: 100%;
}

img,
svg,
video,
canvas {
    height: auto;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

pre {
    font-size: 1em;
    white-space: pre-wrap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#root, #__next {
    isolation: isolate;
}
