:root {
   --ff-heading: 'system-ui', 'ui-sans-serif', "Segoe UI", sans-serif;
   --ff-body: 'system-ui', 'ui-sans-serif', "Segoe UI", sans-serif;
   --ff-monospace: 'ui-monospace', 'SFMono-Regular', 'DejaVu Sans Mono', 'Consolas', 'Liberation Mono', 'Roboto Mono', monospace;

   --fs-n3: 0.745rem;  /* 11.92px */
   --fs-n2: 0.868125rem; /* 13.89px */
   --fs-n1: 1.041875rem; /* 16px */
   --fs-1: 1.25rem; /* 20px */
   --fs-2: 1.5625rem; /* 25px */
   --fs-3: 1.953125rem; /* 31.25px */
   --fs-4: 2.443125rem; /* 39.09px */
   --fs-5: 3.051875rem; /* 48.83px */
   --fs-6: 3.815rem; /* 61.04px */
   --fs-7: 4.768125rem; /* 76.29px */
   --fs-8: 5.960625rem; /* 95.37px */
   --fs-9: 7.450625rem; /* 119.21px */

    --content-width: 1200px;
    --full-bleed: 1440px;

   --color-text-primary: rgba(0, 0, 0, 0.87);
   --color-text-secondary: rgba(0, 0, 0, 0.6);
   --color-text-disabled: rgba(0, 0, 0, 0.38);

   --color-primary: #b70071;
   --color-on-primary: #ffffff;
   --color-primary-container: #ffd9e5;
   --color-on-primary-container: #3d0023;
   --color-secondary: #735761;
   --color-on-secondary: #ffffff;
   --color-secondary-container: #fed9e5;
   --color-on-secondary-container: #2a151e;
   --color-tertiary: #7e5537;
   --color-on-tertiary: #ffffff;
   --color-tertiary-container: #ffdcc5;
   --color-on-tertiary-container: #301400;
   --color-error: #ba1a1a;
   --color-on-error: #ffffff;
   --color-error-container: #ffdad6;
   --color-on-error-container: #410002;
   --color-surface: #FFF5FF;
   --color-on-surface: #181415;
   --color-surface-variant: #f1dee3;
   --color-on-surface-variant: #514348;
   --color-background: #fffbff;
   --color-on-background: #201a1c;
   --color-outline: #837378;
}

.dark-mode {
   --color-text-primary: rgb(255, 255, 255);
   --color-text-secondary: rgba(255, 255, 255, 0.7);
   --color-text-disabled: rgba(255, 255, 255, 0.5);

   --color-primary: #ffb0cf;
   --color-on-primary: #63003b;
   --color-primary-container: #8c0055;
   --color-on-primary-container: #ffd9e5;
   --color-secondary: #e1bdc9;
   --color-on-secondary: #412a33;
   --color-secondary-container: #5a3f49;
   --color-on-secondary-container: #fed9e5;
   --color-tertiary: #f1bc97;
   --color-on-tertiary: #49280e;
   --color-tertiary-container: #633e22;
   --color-on-tertiary-container: #ffdcc5;
   --color-error: #ffb4ab;
   --color-on-error: #690005;
   --color-error-container: #93000a;
   --color-on-error-container: #ffdad6;
   --color-surface: #272022;
   --color-on-surface: #ebe0e2;
   --color-surface-variant: #514348;
   --color-on-surface-variant: #d5c2c7;
   --color-background: #201a1c;
   --color-on-background: #ebe0e2;
   --color-outline: #9d8c91;
}


