---
import TechnologyLogo from "./TechnologyLogo.astro";
interface Props {
    name: string;
}

const { name} = Astro.props;
---

<li>
        <TechnologyLogo name={name} />
        <span class="visually-hidden">{name}</span>
</li>

<style>
    a {
        display: grid;
        place-items: center;
        text-decoration: none;
    }
</style>
