---

import Footer from '../components/Footer.astro'
import '../styles/main.css'
import DarkModeToggle from "../components/svelte/DarkModeToggle.svelte";
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<DarkModeToggle client:only="svelte"/>
		</header>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>

</style>
